.inputStyle {
    background-color: #999;
    color: #fff;
    font-size: 1.3rem;
    border: none;
    outline: none;
    border-radius: 16px;
    padding: 6px;
    padding-left: 1.2rem;
}

.inputStyle::placeholder {
    color: #fff;
    font-size: 1.3rem;
}