.react-bootstrap-table{
    padding: 16px;
    border: 1px solid rgb(2, 116, 26);
}

.ultimaTabela .react-bootstrap-table {
    border: 1px solid red;
}
.table.table-bordered{
    border: none;
}

.react-bootstrap-table table{
    text-align: center;
}
