* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


p,
h1,
h2,
h3,
h4 {
    margin: 0 !important;
    padding: 0 !important;
}

/*Home*/
.logoAtlasHome{
    text-align: center;
}

.logoAtlasHome img{
    margin-top: 8rem;
}

.textAtlasHome {
    text-align: center;
    margin-top: 30px;
}

.textAtlasHome p{
    font-size: 40px;
    font-weight: bold;
}

/*Textos Titulo*/
.tituloInterno {
    padding-bottom: 20px;
}

/*Tabelas*/
.textTable tr td {
    font-size: 14px;

}

.table>thead {
    vertical-align: middle !important;
}

/*Botões*/
button.btn {
    padding: 5px 30px;
    border-radius: 12px;
    border: 1px solid #000;
}

button.btnVoltarHome {
    border: none;
    margin-top: 25px;
    padding: 15px 50px;
}

/*Menu*/
.logoAtlas {
    width: 60%;
    background: #fff;
    padding: 10px;
    margin-top: 30px;
    border-radius: 10px;
}

.logotext {
    text-align: center;
}

.pro-sidebar>.pro-sidebar-inner {
    background: #999 !important;
}

li.pro-menu-item.pro-sub-menu:hover {
    background-color: #000;
}

span.pro-item-content {
    color: #fff;
    font-weight: 500;
}

.pro-sidebar .pro-menu.shaped .pro-menu-item>.pro-inner-item>.pro-icon-wrapper {
    background: none!important;
}

.pro-sidebar>.pro-sidebar-inner>.pro-sidebar-layout .pro-sidebar-footer {
    border-top: 1px solid rgb(0 0 0 / 20%);
}

.pro-sidebar>.pro-sidebar-inner>.pro-sidebar-layout .pro-sidebar-header {
    border-bottom: 1px solid rgb(0 0 0 / 20%);
}

.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item .pro-inner-item {
    padding: 10px 0px;
}

.react-slidedown.pro-inner-list-item li {
    font-size: 14px !important;
}
.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item > .pro-item-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: unset;
}

.closemenu {
    cursor: pointer;
    margin: 10px;
    text-align: right;
}

/*Pagina 404*/
.boxTextNotFound{
    padding: 8rem 3rem 3rem 3rem;
    text-align: center;
}

.text404 {
    font-size: 110px;
    text-align: center;
    font-weight: bold;
}


.textNotFoundTitle{
    font-size: 29px;
    font-weight: bold;
    color: #ec0000;
}

.textNotFound{
    font-size: 22px;
}

.logoAtlasArea{
    padding: 11rem 3rem 3rem 3rem;
    text-align: center;
}

/*Login*/
.loginBox{
    margin-top: 3rem;
    padding: 30px;
    background: rgba(0, 0, 0, 0.3)
}
.logoAtlaslogin{
    width: 100%;
    background: #fff;
    padding: 10px;
    margin-top: 5rem;
    border-radius: 10px;
    text-align: center;
    border-radius: 5px
}

