* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


p,
h1,
h2,
h3,
h4 {
    margin: 0 !important;
    padding: 0 !important;
}

select {
    height: 32px !important;
}

.titulosPrincipais {
    color: #555;
    padding: 20px 0 !important;
    font-size: 36px;
    font-weight: bold;
}

.botaoCadastrar {
    height: 40px;
    width: 180px;
    margin-top: 20px;
}

.margin-0 {
    margin: 0 !important;
}

.paddingTop30 {
    padding-top: 30px;
}

.alignButtons {
    text-align: right;

}

@media (max-width: 767px) {
    .alignButtons {
        text-align: left;
    }

    .paddingTop20Mobile {
        padding-top: 20px;
    }
}

.paddingContainer {
    padding: 30px 15px !important;
}

.iconEye {
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 2px 5px;
}



.formPadrao input,
.formPadrao select {
    padding: 3px 5px;
    border-radius: 5px;
    border: 1px solid #999;
    width: 100%;
}

.formPadrao label {
    font-weight: bold;
    color: #6a6363;
}

.formPadrao .btnCol {
    position: relative
}

.formPadrao .btnCol button {
    position: absolute;
    bottom: 0;
}

.formCadastro {
    transition: all 2s linear;
}


/*Home*/
.logoAtlasHome {
    text-align: center;

}

.logoAtlasHome img {
    margin-top: 8rem;
}

.textAtlasHome {
    text-align: center;
    margin-top: 30px;
}

.textAtlasHome p {
    font-size: 40px;
    font-weight: bold;
}

/*Textos Titulo*/
.tituloInterno {
    padding-bottom: 20px;
}

/*Tabelas*/
.table.table.table-striped.table-bordered {
    font-size: 14px;
}

.tabelaOrdensProducao table.table.table-striped.table-hover.table-bordered {
    width: max-content;
}

button.spanTabela path:hover,
span.spanTabela svg path:hover {
    color: #505050 !important;
}

span.spanTabela svg,
button.spanTabela svg {
    width: 1.3rem;
    height: 1.3rem;
}

button.botaoCadastrar svg path {
    color: #fff;
}

button.botaoCadastrar svg {
    color: #fff;
    height: 1.2rem;
    position: relative;
    left: -30px;
    top: -1px;
}

button.botaoImportar {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin-top: 25px;
}

button.botaoImportar svg path {
    color: #fff;
}

button.botaoImportar svg {
    color: #fff;
    height: 1.2rem;
    position: relative;
    left: -20px;
    top: -1px;

}

.textTable tr td {
    font-size: 14px;

}

td span svg {
    width: 20px;
}

.table>thead {
    vertical-align: middle !important;
}

.react-bootstrap-table table {
    table-layout: unset !important;
}

.icons-table span {
    margin-left: 15px;
}

.tabelaUsuario .react-bootstrap-table th.selection-cell-header,
.tabelaUsuario .react-bootstrap-table td.selection-cell {
    display: none;
}

.botoesOrdemProducao button {
    width: 100%;
    padding: 6px 0;
}

/*Botões*/
button.btn {
    padding: 3px 30px;
    border-radius: 5px;
    border: 1px solid #000;
}

button.btnVoltarHome {
    border: none;
    margin-top: 25px;
    padding: 15px 50px;
}

.btnActions {
    line-height: 2 !important;
}

button.btnActions {
    position: relative;
}

button.btnActions svg {
    width: 18px;
    position: relative;
    margin-bottom: 4px;
}

button.btnActions svg path {
    color: #fff !important;
    stroke: #fff !important;
}

.MuiAlert-icon.css-1ytlwq5-MuiAlert-icon {
    display: none;
}


td.text-center.icons-table span svg:hover {
    color: rgba(22, 19, 19, 0.541) !important;
    animation: myAnim 2s ease 0s 1 normal forwards !important;
}

/*Menu*/

.pro-sidebar {
    width: 180px !important;
    min-width: 180px !important;
}

.pro-sidebar.collapsed {
    width: 80px !important;
    min-width: 80px !important;
}

.pro-sidebar.collapsed .pro-sidebar-inner .pro-sidebar-layout .pro-sidebar-content .pro-menu.inner-submenu-arrows ul li.pro-menu-item.pro-sub-menu .pro-inner-item,
.pro-sidebar.collapsed .pro-sidebar-inner .pro-sidebar-layout .pro-sidebar-header .pro-menu.inner-submenu-arrows ul li.pro-menu-item.pro-sub-menu .pro-inner-item {
    left: 20px !important;
}

.pro-sidebar.collapsed .pro-menu>ul>.pro-menu-item.pro-sub-menu>.pro-inner-list-item>.popper-inner {
    max-height: 100vh;
    overflow-y: auto;
    background-color: #2b2b2b;
    padding-left: 0 !important;
    border-radius: 4px;
    margin-left: -24px;
    overflow-x: hidden;
}

.fotoPerfilBox {
    text-align: center;
    padding-bottom: 20px;
    position: relative;
}

.fotoPerfilBox img {
    width: 55%;
    border-radius: 50%;
}

ul.dadosPessoais {
    margin-top: 10px !important;
}

ul.dadosPessoais li {
    color: #fff;
    line-height: 1.5;
}

.fotoPerfilBox img {
    width: 45%;
    border-radius: 50%;
    border: 4px solid #7a7474;
    background: #fff;
}

.logoAtlas {
    width: 60%;
    background: #fff;
    padding: 10px;
    margin-top: 30px;
    border-radius: 10px;
}

.logotext {
    text-align: center;
}

.pro-sidebar .pro-menu .pro-menu-item>.pro-inner-item>.pro-item-content {
    white-space: unset !important;
}

.pro-sidebar-content {
    border-top: 2px solid;
    border-bottom: 2px solid;
}

.pro-sidebar .pro-menu {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.pro-sidebar .pro-menu .pro-menu-item>.pro-inner-item {
    padding: 8px 35px 8px 0px !important;
}

.pro-sidebar>.pro-sidebar-inner {
    background: #999 !important;
}

li.pro-menu-item.pro-sub-menu:hover {
    background-color: #000;
}

span.pro-item-content {
    color: #fff;
    font-weight: 500;
}

.pro-sidebar .pro-menu.shaped .pro-menu-item>.pro-inner-item>.pro-icon-wrapper {
    background: none !important;
}

.pro-sidebar>.pro-sidebar-inner>.pro-sidebar-layout .pro-sidebar-footer {
    border-top: 1px solid rgb(0 0 0 / 20%);
}

.pro-sidebar>.pro-sidebar-inner>.pro-sidebar-layout .pro-sidebar-header {
    border-bottom: 1px solid rgb(0 0 0 / 20%);
}

.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item .pro-inner-item {
    padding: 10px 0px;
}

.react-slidedown.pro-inner-list-item li {
    font-size: 14px !important;
}

.pro-sidebar .pro-menu .pro-menu-item>.pro-inner-item>.pro-item-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: unset;
}

.closemenu {
    cursor: pointer;
    margin: 0 10px;
    text-align: right;
}

/*Pagina 404*/
.boxTextNotFound {
    padding: 8rem 3rem 3rem 3rem;
    text-align: center;
}

.text404 {
    font-size: 110px;
    text-align: center;
    font-weight: bold;
}


.textNotFoundTitle {
    font-size: 29px;
    font-weight: bold;
    color: #ec0000;
}

.textNotFound {
    font-size: 22px;
}

.logoAtlasArea {
    padding: 11rem 3rem 3rem 3rem;
    text-align: center;
}

/*Login*/
.loginBox {
    margin-top: 3rem;
    padding: 30px;
    background: rgba(0, 0, 0, 0.3);
    min-width: 230px;
}

.logoAtlaslogin {
    width: 100%;
    background: #fff;
    padding: 10px;
    margin-top: 5rem;
    border-radius: 10px;
    text-align: center;
    border-radius: 5px
}

/*Cadastro Usuario*/
.cadUsuarioBtnBox button {
    width: 100%;
}

.statusBtnBox {
    position: absolute;
    bottom: 0;
}

.statusBtnBox label.form-check-label {
    margin: 8px 0 0 10px;
}

.statusBtn {
    width: 60px !important;
    height: 30px !important;
}


/*MODAL*/
.MuiAlert-action.css-ki1hdl-MuiAlert-action {
    margin: 0;
}

.MuiAlert-action.css-ki1hdl-MuiAlert-action {
    position: absolute;
    right: 15px;
    top: 10px;
}

.modalEditar .modal-content {
    background: none !important;
    border: 0 !important
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    content: "";
}

.spanTabela {
    margin: 0 5px;
}

.filter.text-filter.form-control {
    height: 24px;
    background-color: #eee;
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: flex-end;
}

.filter.text-filter.form-control::placeholder {
    color: #333;
    font-weight: bold;
}


@media only screen and (max-width: 1024px) {
    .paddingContainer {
        max-width: 1024px;
    }
}

@media only screen and (mix-width: 1740px) {
    .paddingContainer {
        max-width: 1740px
    }
}

.closemenu :hover {
    box-shadow: 1px 1px 5px #fff;
}

.page-item.active .page-link {
   background-color: #979797!important;
    border-color: #979797!important;
}

.page-link{
    color:#282529!important;
}